a {
  text-decoration: none;
  color: #03230d;
}

a:hover,
a:active {
  color:#387d4c;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: end;
  font-size: 14px;
}
.link-principal{
  margin-right: 30px;
  font-size: 14px;
}

mat-toolbar {
  border-radius: 3px;
}

.div-logo {
  height: 150px;
}

.logo {
  align-items: flex-end ;
  width: 250px;
  height: 100%;
}

@media (max-width: 956px) {
  mat-toolbar {
    border-radius: 0px;
  }

}


@media (max-width:709px){
  .navigation-items{
    display: none;
  }
  .sub-link {
    display: none;
  }

}
