<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <span class="nav-caption">PRINCIPAL</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <span class="nav-caption">EMPRESA</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <span class="nav-caption">MÁQUINAS AGRICOLAS</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <span class="nav-caption">QUERO COMPRAR</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <span class="nav-caption">ANUNCIE</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <span class="nav-caption">CONTATO</span>
  </a>
</mat-nav-list>
